@keyframes chang-color-anim {
	0% {
		background: #d92b34;
	}
	35% {
		background: #e88f38;
	}
	70% {
		background: #000;
	}
}
.bota_block_news {
	padding: 56px 0px 50px;
	background: #f4f4f6;
	position: relative;
	margin-bottom: 90px;
    @media (max-width: 768px){
        padding: 30px 0px 30px;
        margin-bottom: 50px;
    }
    .bota_title_main span{
        background: #f4f4f6;
    }
    .bota_news_list_btn {
		text-align: center;
		position: absolute;
		bottom: -24px;
		left: 50%;
		transform: translate(-50%);
		a {
			text-transform: uppercase;
			color: #fff;
			padding: 15px 50px;
			background: #d92b34;
			font-weight: bold;
			font-size: 16px;
			letter-spacing: 1.2px;
			transition: 0.2s;
			position: relative;
			&:hover {
				background: #000;
				color: #fff !important;
			}
			&:after {
				position: absolute;
				bottom: -10px;
				left: 10px;
				z-index: -1;
				content: "";
				width: 100%;
				height: 100%;
				background-size: cover;
			}
		}
	}
}
.bota_block_news_list_column3 {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px;
	.item {
		width: calc(25% - 30px);
		margin: 0px 15px;
		.img {
			overflow: hidden;
			display: block;
			a {
				display: block;
			}
		}
		img {
			width: 100%;
			transition: all 0.7s ease 0s !important;
			-webkit-transition: all 0.7s ease 0s;
            @media only screen and (max-width: 768px){
                height: auto;
            }
		}
		&:hover {
			img {
				transform: scale(1.05);
				-webkit-transform: scale(1.05);
			}
		}
	}
	.title {
		text-transform: uppercase;
		line-height: 22px;
		margin-top: 19px;
		text-align: justify;
		a {
			color: #4c4c4c;
		}
	}
}
@media screen and (max-width: 768px) {
	.bota_block_news_list_column3 {
		margin: 0px -5px;
		.item {
			width: calc(50% - 10px);
			margin: 0px 5px;
			margin-bottom: 10px;
		}
		.title {
			margin-top: 4px;
			line-height: 19px;
			font-size: 12px;
		}
	}
    .bota_block_news{
        .bota_news_list_btn {
			position: inherit;
			bottom: auto;
			left: auto;
			transform: translate(0%);
			text-align: center;
			width: 100%;
			margin-top: 15px;
			a {
				padding: 9px 30px;
				font-size: 14px;
				letter-spacing: 1.1px;
			}
		}
    }
}
@media screen and (max-width: 500px) {
	.bota_block_news_list_column3 {
		.bota_news_list_btn {
			a {
				padding: 9px;
			}
		}
	}
}
.bota_news_category {
	.container {
		background: #fff;
		box-sizing: border-box;
		margin-top: -27px;
		box-shadow: 0px 1px 1px 1px #eae9e9;
        @media screen and (max-width: 768px){
            box-shadow: 0px 1px 1px 1px #fff;
        }
	}
    .bota_cate_news_list_body {
        width: 72%;
        padding: 28px;
        float: left;
       display: block;
        border-right: 1px solid #efefef;
        box-sizing: border-box;
        .bota_cate_news_item {
            box-sizing: border-box;
        }
        .img {
            overflow: hidden;
            position: relative;
            @media only screen and (max-width: 768px){
                height: 211px;
            }
            .time {
                position: absolute;
                bottom: 0px;
                left: 0px;
                color: #fff;
                padding: 10px 16px;
                background: var(--main-color);
            }
            a {
                display: block;
            }
            img {
                transition: all 0.7s ease 0s !important;
                -webkit-transition: all 0.7s ease 0s;
                width: 100%;
                @media only screen and (max-width: 768px){
                    height: 100%;
                    object-fit: cover;
                }
            }
            &:hover {
                img {
                    transform: scale(1.05);
                    -webkit-transform: scale(1.05);
                }
            }
        }
        .title {
            padding: 11px 0px 0px;
            text-align: left;
            margin-bottom: 11px;
            a {
                display: inline-block;
                text-transform: uppercase;
                line-height: 20px;
                letter-spacing: 0.2px;
                font-weight: bold;
            }
        }
        .date {
            position: relative;
            padding-left: 20px;
            margin-bottom: 18px;
            svg {
                width: 15px;
                height: 15px;
                fill: #3c3c3c;
                position: absolute;
                left: 0px;
            }
        }
        .summary {
            line-height: 22px;
            text-align: left;
            color: #464646;
        }
    }
    .bota_news_cate_left {
        .owl-next {
            float: left;
            position: absolute;
            font-size: 25px;
            line-height: 20px;
            border-radius: 50%;
            height: 25px;
            width: 25px;
            box-sizing: border-box;
            border: 1px #b7b7b7 solid;
            top: 10px;
            text-align: center;
            color: #b7b7b7;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
            top: -3px;
            right: 30px;
            &:hover {
                border: 1px var(--main-color) solid;
                color: var(--main-color);
            }
        }
        .owl-prev {
            float: left;
            position: absolute;
            font-size: 25px;
            line-height: 20px;
            border-radius: 50%;
            height: 25px;
            width: 25px;
            box-sizing: border-box;
            border: 1px #b7b7b7 solid;
            top: 10px;
            text-align: center;
            color: #b7b7b7;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
            top: -3px;
            right: 60px;
            &:hover {
                border: 1px var(--main-color) solid;
                color: var(--main-color);
            }
        }
    }
    @media screen and (max-width: 768px) {
        .bota_cate_news_list_body {
            width: 100%;
            float: none;
            padding: 0px;
            border: none;
            margin-bottom: 35px;
        }
        .bota_news_cate_left {
            .owl-next {
                display: none !important;
            }
            .owl-prev {
                display: none !important;
            }
        }
    }
    
}
.bota_block_title {
	font-size: 30px;
	text-transform: uppercase;
	padding: 60px 28px 20px;
	position: relative;
	&:after {
		width: 20px;
		background: #d92b34;
		height: 3px;
		position: absolute;
		bottom: 0px;
		content: "";
		left: 28px;
	}
}

@media screen and (max-width: 768px) {
	.bota_block_title {
		font-size: 18px;
		padding: 44px 28px 20px 0px;
		margin-bottom: 10px;
		&:after {
			left: 0px;
			bottom: 10px;
		}
	}
}
.bota_block_news_new{
    margin-bottom: 60px;
    .bota_block_title {
		font-size: 22px;
		color: #333;
		padding: 0 0 10px;
		line-height: 1.2;
		margin-bottom: 50px;
		&:after {
			left: 0;
			height: 4px;
			width: 68px;
            @media screen and (max-width: 768px){
				bottom: -10px;
				height: 2px;
			}
		}
	}
}
.bota_news_list_column4 {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	margin: 40px -15px 0px -15px;
	.bota_cate_news_item {
		width: calc(25% - 30px);
		box-sizing: border-box;
		margin: 0px 15px;
		img {
			width: 100%;
			transition: all 0.7s ease 0s !important;
			-webkit-transition: all 0.7s ease 0s;
			min-height: 100px;
		}
		&:hover {
			img {
				transform: scale(1.05);
				-webkit-transform: scale(1.05);
			}
		}
	}
	.img {
		overflow: hidden;
		position: relative;
		min-height: 154px;
		.time {
			position: absolute;
			bottom: 0px;
			left: 0px;
			color: #fff;
			padding: 10px 16px;
			background: var(--main-color);
		}
		a {
			display: block;
		}
	}
	.title {
		padding: 11px 0px 0px;
		text-align: left;
		margin-bottom: 11px;
		a {
			display: inline-block;
			text-transform: uppercase;
			line-height: 20px;
			letter-spacing: 0.2px;
			font-weight: bold;
		}
	}
	.date {
		position: relative;
		padding-left: 20px;
		margin-bottom: 18px;
		svg {
			width: 15px;
			height: 15px;
			fill: #3c3c3c;
			position: absolute;
			left: 0px;
		}
	}
	.summary {
		line-height: 22px;
		text-align: left;
		color: #464646;
	}
}
@media screen and (max-width: 768px) {
	.bota_news_list_column4 {
		margin: 40px -5px 0px -5px;
		.bota_cate_news_item {
			width: calc(50% - 10px);
			margin: 0px 5px;
			margin-bottom: 10px;
		}
		.img {
			min-height: 105px;
		}
	}
}
