.bota_title_main {
	text-align: center;
	font-size: 30px;
	border-bottom: none;
	position: relative;
	margin-bottom: 30px;
	text-transform: uppercase;
	height: 18px;
    @media (max-width: 1024px){
        font-size: 18px;
        white-space: nowrap;
    }
    @media (max-width: 767px){
        font-size: 15px;
       
    }
	span {
		position: absolute;
		left: 50%;
		transform: translate(-50%);
		z-index: 2;
		background: #fff;
		padding: 0px 18px;
		color: #232323;
		display: inline-table;
	}
	&::after {
		content: ' ';
		width: 100%;
		height: 1px;
		background: #ddd;
		top: 7px;
		left: 0px;
		position: absolute;
	}
}
.bota_cat_item_store {
	margin-bottom: 64px;
	text-align: center;
	ul {
		&.nav-tabs {
			justify-content: center;
			border: none;
			li {
				display: inline-block;
				&:nth-child(2) {
					margin: 0px 5px;
				}
				button {
					padding: 12px 30px;
					background: #e4e3e2;
					border: 1px solid transparent !important;
					font-size: 16px;
					text-transform: uppercase;
					display: inline-block;
					-webkit-transition: all .3s ease-out;
					-moz-transition: all .3s ease-out;
					-o-transition: all .3s ease-out;
					transition: all .3s ease-out;
					color: #000;
					border-radius: unset !important;
					&:hover {
						background: #d92b34;
						color: #fff !important;
					}
					&.active {
						border: 1px solid #000 !important;
						background: none;
					}
				}
			}
		}
	}
}
@media all and (max-width: 600px) {
	.bota_cat_item_store {
		margin-bottom: 30px;
	}
}
@media all and (max-width: 768px) {
	.bota_cat_item_store {
		ul {
			li {
				a {
					padding: 9px 15px;
					font-size: 14px;
				}
			}
		}
	}
}
@media all and (max-width: 800px) {
	.bota_cat_item_store {
		ul {
			li {
				&:nth-child(6) {
					display: none;
				}
			}
		}
	}
}
@media all and (max-width: 500px) {
	.bota_cat_item_store {
		ul {
			li {
				&:nth-child(5) {
					display: none;
				}
			}
		}
	}
}

.bota_product_grid {
	margin-top: 12px;
	margin-left: -5px;
	margin-right: -5px;
    >*{
        padding-left: 5px;
        padding-right: 5px;
    }
}
.bota_pr_item {
    text-align: center;
	margin-bottom: 80px;
    @media screen and (max-width: 768px){
        margin-bottom: 50px;
    }
	.bota_pr_image {
		margin-bottom: 40px;
		position: relative;
		overflow: hidden;
		height: 340px;
        @media screen and (max-width: 768px){
            height: 217px;
        }
		img {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			max-height: 100%;
			max-width: 100%;
			transition: all 0.7s ease 0s;
		}
	}
	&:hover {
		.bota_pr_image {
			img {
				transform: scale(1.05);
			}
		}
		.bota_pr_name {
			a {
				color: #d92b34;
			}
		}
	}
	.bota_pr_name {
		a {
			font-size: 18px;
			color: #313131;
            @media (max-width: 768px){
                font-size: 15px;
            }
		}
		.bota_pr_cat_name {
			color: #777;
			margin-bottom: 18px;
			display: block;
			font-size: 14px;
			margin-top: 6px;
		}
	}
	.bota_price_old {
		font-size: 15px;
		color: #b1b1b1;
		margin-bottom: 8px;
		text-decoration: line-through;
	}
	.bota_pr_price_current {
		font-size: 18px;
		color: #e10c00;
	}
}
.bota_pr_installment {
	position: absolute;
	left: 10px;
	bottom: 0px;
	background: #f28902;
	padding: 2px 4px;
	font-size: 13px;
	color: #fff;
	font-size: 11px;
	color: #fff;
	font-weight: 600;
	border-radius: 2px;
}
.bota_readmore_btn {
	text-align: center;
	width: 100%;
    margin-bottom: 18px;
	a {
		span {
			letter-spacing: 1.3px;
			text-transform: uppercase;
			border-radius: 5px;
			transition: 0.5s;
			font-size: 16px;
			position: relative;
			&:after {
				width: 100%;
				position: absolute;
				content: "";
				bottom: -4px;
				height: 1px;
				border-bottom: 1px solid #000;
				left: 0px;
			}
			svg {
				width: 25px;
				height: 25px;
				position: absolute;
				left: -39px;
				top: -3px;
				fill: #d92b34;
			}
			&:hover {
				color: #d92b34;
				transition: 0.3s;
				&:after {
					border-bottom: 1px solid #d92b34;
				}
			}
		}
	}
}
@media all and (max-width: 768px) {
	.bota_readmore_btn {
		a {
			span {
				font-size: 14px;
			}
		}
	}
}
.bota_product_detail_zoom_img {
	margin-bottom: 25px;
	.bota_product_detail_img {
		position: relative;
		left: 0px;
		text-align: center;
		margin-bottom: 20px;
		img {
			cursor: pointer;
		}
	}
	.bota_product_detail_thumbs {
		.owl-carousel {
			.owl-stage {
				text-align: center;
				margin: 0 auto;
			}
		}
		#sync2 {
			.item {
				padding: 2px;
				text-align: center;
				cursor: pointer;
				box-sizing: border-box;
				border: 1px solid #ebebeb;
				background: #FFF;
				margin: 0 2px;
				height: 94px;
				img{
					width: 100%;
					height: 100%;
					object-fit: scale-down;
				}
				&:hover {
					border: 1px solid #AAA;
				}
				h1 {
					font-size: 18px;
				}
			}
			.owl-item.current {
				.item {
					border: 1px solid #AAA;
				}
			}
			.synced {
				.item {
					background: #0c83e7;
				}
			}
		}
		@media screen and (max-width: 600px) {
			#sync2 {
				max-width: 100%;
				height: 119px;
				overflow: hidden;
			}
		}		
	}
}
#sync2 {
	.owl-prev {
		display: inline-block;
		zoom: 1;
		position: absolute;
		padding: 6px 0 0;
		margin: 0;
		border-radius: 0px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		background: #d92b34;
		width: 24px;
		height: 27px;
		text-align: center;
		font-size: 46px;
		color: #fff;
		font-family: -webkit-body;
		line-height: 12px;
		top: 50%;
		transform: translate(0%, -50%);
		left: 0px;
	}
	.owl-next {
		display: inline-block;
		zoom: 1;
		position: absolute;
		padding: 6px 0 0;
		margin: 0;
		border-radius: 0px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		background: #d92b34;
		width: 24px;
		height: 27px;
		text-align: center;
		font-size: 46px;
		color: #fff;
		font-family: -webkit-body;
		line-height: 12px;
		top: 50%;
		transform: translate(0%, -50%);
		right: 0px;
	}
	&:hover {
		.owl-prev {
			display: inline !important;
		}
		.owl-next {
			display: inline !important;
		}
	}
}
.bota_share {
    text-align: center;
    margin: 15px auto 0px;
    height: 20px;
    width: 200px;
	display: flex;
}
.bota_product_detail_name h1 {
    font-size: 23px;
    line-height: 33px;
    text-transform: uppercase;
    display: inline;
    font-weight: 500;
}

.bota_product_detail_name {
    margin-bottom: 10px;
}

.bota_product_detail_info {
    padding: 0 15px;
    height: 100%;
	.bota_product_detail_ratting {
		margin-bottom: 25px;
		i {
			color: #FF9727;
		}
	}
	.rate_count {
		margin-left: 5px;
		font-size: 12px;
		font-weight: normal;
		color: #8a8a8a;
	}
	.bota_product_detail_price {
		margin-bottom: 20px;
		.price_old {
			font-size: 20px;
			color: #c1c1c1;
			text-decoration: line-through;
			margin-bottom: 10px;
		}
		.price_current {
			color: #d71921;
			font-size: 22px;
			position: relative;
			display: inline-block;
			padding-right: 80px;
			margin-bottom: 0;
		}
	}
	.bota_product_detail_status {
		position: relative;
		margin-bottom: 20px;
		padding-left: 20px;
		box-sizing: border-box;
		font-weight: bold;
		svg {
			position: absolute;
			width: 15px;
			height: 15px;
			fill: #d92b34;
			left: 0px;
			top: 1px;
		}
	}
	.buy-now {
		margin-bottom: 10px;
		button {
			&:before {
				position: absolute;
				content: "";
				bottom: 0;
				left: 0;
				right: 0;
				top: 0;
				transform: scale(0);
				transition-duration: .2s;
				transition-property: transform;
				transition-timing-function: ease-out;
				-webkit-transform: scale(0);
				-webkit-transition-duration: .2s;
				-webkit-transition-property: transform;
				-webkit-transition-timing-function: ease-out;
				-moz-transform: scale(0);
				-moz-transition-duration: .2s;
				-moz-transition-property: transform;
				-moz-transition-timing-function: ease-out;
				-o-transform: scale(0);
				-o-transition-duration: .2s;
				-o-transition-property: transform;
				-o-transition-timing-function: ease-out;
				z-index: -1;
				background: #000;
			}
			&:hover {
				&:before {
					background: #111;
					transform: scale(1);
					-webkit-transform: scale(1);
					-moz-transform: scale(1);
					-o-transform: scale(1);
				}
			}
		}
	}
	.btn-buy {
		#add-cart {
			cursor: pointer;
			border: none;
			text-transform: uppercase;
			text-decoration: none;
			background: none;
			font-family: arial;
			font-size: 16px;
			color: #FFF;
			display: block;
			text-align: center;
			padding: 15px 0;
			width: calc(50% - 5px);
			width: 100%;
			background: #d92b34;
			transition: 0.2s;
			-moz-osx-font-smoothing: grayscale;
			backface-visibility: hidden;
			display: inline-block;
			position: relative;
			transform: translateZ(0);
			transition-duration: .2s;
			transition-property: color;
			-webkit-transform: translateZ(0);
			-webkit-transition-duration: .2s;
			-webkit-transition-property: color;
			-moz-transform: translateZ(0);
			-moz-transition-duration: .2s;
			-moz-transition-property: color;
			-o-transform: translateZ(0);
			-o-transition-duration: .2s;
			-o-transition-property: color;
			vertical-align: middle;
			width: calc(50% - 5px);
			margin-bottom: 10px;
		}
		.bt-buy-sp {
			cursor: pointer;
			border: none;
			text-transform: uppercase;
			text-decoration: none;
			background: none;
			font-family: arial;
			font-size: 16px;
			color: #FFF;
			display: block;
			text-align: center;
			padding: 15px 0;
			width: calc(50% - 5px);
			width: 100%;
			transition: 0.2s;
			-moz-osx-font-smoothing: grayscale;
			backface-visibility: hidden;
			display: inline-block;
			position: relative;
			transform: translateZ(0);
			transition-duration: .2s;
			transition-property: color;
			-webkit-transform: translateZ(0);
			-webkit-transition-duration: .2s;
			-webkit-transition-property: color;
			-moz-transform: translateZ(0);
			-moz-transition-duration: .2s;
			-moz-transition-property: color;
			-o-transform: translateZ(0);
			-o-transition-duration: .2s;
			-o-transition-property: color;
			vertical-align: middle;
			width: calc(50% - 5px);
			margin-bottom: 10px;
			background: #288ad6;
			float: right;
		}
	}
	.bota_product_detail_order_fast {
		background: #e88f38;
		padding: 12px 15px;
		text-align: center;
		.text-regis-phone {
			position: relative;
			padding-left: 40px;
			display: inline-block;
			color: #fff;
			text-transform: uppercase;
			font-size: 16px;
			svg {
				position: absolute;
				width: 30px;
				height: 30px;
				left: 0px;
				top: -7px;
				fill: #fff;
			}
		}
	}
	.text-regis-phone {
		margin-bottom: 16px;
		line-height: 18px;
		padding-right: 26px;
		font-size: 14px;
		word-spacing: 1.2px;
		color: #5d5c5c;
		background: url('data:image/svg+xml;utf8,<svg height="40" width="40" fill="#f5f5f5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve"><polygon style="" points="50,0 16.667,0 50,50 16.667,100 50,100 83.333,50 " fill="#f5f5f5"></polygon></svg>');
		background-repeat: no-repeat;
		background-position: right -5px center;
	}
	.wrapper-infor {
		position: relative;
		height: 30px;
		input {
			border: none;
			color: #aaa;
			font-size: 15px;
			width: calc(100% - 75px);
			height: 30px;
			padding-left: 12px;
			box-sizing: border-box;
			text-align: left;
			float: left;
		}
		.button-sub {
			background: transparent;
			border: none;
			position: absolute;
			right: 0px;
			top: 0px;
			width: 65px;
			height: 30px;
			color: #fff;
			text-transform: uppercase;
			text-align: center;
			transition: 0.2s;
			cursor: pointer;
			border: 1px solid #ffffff8a;
			box-sizing: border-box;
			&:hover {
				background: #d92b34 no-repeat scroll center center;
			}
		}
	}
	.bota_products_detail_orders {
		font-size: 14px;
		line-height: 19px;
		position: relative;
		padding-left: 20px;
		margin-top: 20px;
		#products_orders {
			margin: 0;
			padding: 0;
			>.item {
				display: none;
				&:first-child {
					display: block;
				}
			}
		}
		svg {
			position: absolute;
			width: 15px;
			height: 15px;
			left: 0px;
			top: 1px;
			fill: #d92b34;
		}
		li {
			position: relative;
			text-align: left;
			list-style: none;
			.name {
				font-weight: bold;
				font-style: normal;
			}
		}
		label {
			position: absolute;
			top: -11px;
			left: 19px;
			text-transform: uppercase;
			padding: 0 11px 0 35px;
		}
	}	
}
.bota_block_custom {
	margin-bottom: 20px;
}
.bota_block_custom_title {
	background: #d92b34;
	color: #fff;
	padding: 7px;
	text-transform: uppercase;
	font-size: 15px;
	overflow: hidden;
}
.bota_block_custom_left {
	width: 50px;
	float: left;
	svg {
		animation: 4s ease-in-out 0s normal none infinite running chang-rotage-anim;
		width: 46px;
		height: 46px;
		fill: #fff;
	}
}
.bota_block_custom_right {
	width: calc(100% - 50px);
	float: right;
	.title {
		font-family: arial;
		margin-top: 5px;
	}
	.summary {
		font-weight: bold;
	}
}
@media (min-width: 992px){
	.bota_product_detail_center {
			width: 37%;
	}
   .bota_product_detail_right {
	   width: 29%;
   }
}

.bota_block_custom_column {
	display: flex;
	flex-wrap: wrap;
	border: 1px solid #ebebeb;
	margin-top: 5px;
	padding: 0px 17px 0px 17px;
	.item {
		width: 100%;
		text-align: left;
		position: relative;
		box-sizing: border-box;
		padding: 17px 0px;
		border-bottom: 1px solid #ebebeb;
		a {
			display: inline-block;
			float: left;
		}
		svg {
			width: 50px;
			height: 50px;
			fill: #d92b34;
		}
		.content-right {
			width: calc(100% - 70px);
			float: right;
			.title {
				display: block;
			}
		}
	}
	.bottom-block {
		padding: 19px 0px;
		div {
			width: 39%;
			float: left;
			padding-left: 25px;
			position: relative;
			box-sizing: border-box;
			svg {
				width: 18px;
				height: 18px;
				fill: #d92b34;
				position: absolute;
				left: 0px;
			}
		}
	}
}
@media only screen and (max-width: 420px) {
	.bota_block_custom_column {
		.item {
			padding: 10px 0px;
			svg {
				width: 30px;
				height: 30px;
			}
		}
	}
}

.bota_product_detail_promotion {
	border: 1px solid #ebebeb;
	margin-bottom: 10px;
	line-height: 24px;
	padding: 10px 15px;
	overflow: hidden;
	.bota_product_detail_title_gift {
		color: #151515;
		text-transform: uppercase;
		margin-bottom: 5px;
		font-weight: bold;
		font-size: 15px;
	}
	
	p {
		position: relative;
		padding-left: 16px;
		margin-bottom: 0;
		&:after {
			content: '';
			position: absolute;
			top: 7px;
			left: 0;
			width: 12px;
			height: 12px;
			background:url('data:image/svg+xml;utf8,<svg aria-hidden="true" data-prefix="fas" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-check fa-w-16"><path fill="rgb(86, 224, 0)" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z" class=""></path></svg>');
			background-repeat:no-repeat
		}
	}
}
.fancybox-thumbs {
	bottom: 0;
	top: auto;
	right: auto;
	left: auto;
	width: 100%;
}
.fancybox-show-thumbs {
	.fancybox-inner {
		right: 0 !important;
		height: calc(100vh - 68px);
	}
	.fancybox-thumbs {
		.fancybox-thumbs__list {
			display: flex;
			justify-content: center;
			align-items: flex-end;
			margin: auto;
		}
		background: #000;
		margin: 0;
		padding: 0;
	}
}
.fancybox-is-open {
	.fancybox-bg {
		opacity: 1;
		background: #000;
	}
}
.fancybox-toolbar {
	.fancybox-button {
		display: none !important;
	}
	.fancybox-button.fancybox-button--close {
		display: block !important;
		background: url(../imgs/fotorama@2x.png) 0 0/96px 160px no-repeat;
		width: 32px;
		height: 32px;
		top: 2px;
		right: 2px;
		background-position: -32px -32px;
		z-index: 20;
	}
	opacity: 1;
	visibility: visible;
}
.fancybox-infobar {
	display: none !important;
}
.fancybox-thumbs__list {
	a {
		&:before {
			border: 1px solid #00afea;
		}
		height: 64px;
	}
}
.fancybox-navigation {
	.fancybox-button {
		opacity: 1;
		visibility: visible;
		svg {
			display: none;
		}
	}
	.fancybox-button.fancybox-button--arrow_left {
		background: url(../imgs/fotorama@2x.png) 0 0/96px 160px no-repeat;
		width: 32px;
		height: 32px;
		padding: 0;
	}
	.fancybox-button.fancybox-button--arrow_right {
		background: url(../imgs/fotorama@2x.png) 0 0/96px 160px no-repeat;
		width: 32px;
		height: 32px;
		padding: 0;
		background-position: -32px 0;
	}
}
.fancybox-button[disabled] {
	pointer-events: none;
	cursor: default;
	opacity: .1;
}
